In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ginir,ET,2021-07-23 21:48:27,7.1333,40.7000,59.54,78,72,12.12
1,1,Mahebourg,MU,2021-07-23 21:48:28,-20.4081,57.7000,68.29,83,75,5.75
2,2,Pisco,PE,2021-07-23 21:44:38,-13.7000,-76.2167,64.45,72,40,17.27
3,3,Rikitea,PF,2021-07-23 21:44:11,-23.1203,-134.9692,71.35,60,88,13.35
4,4,Kavieng,PG,2021-07-23 21:48:28,-2.5744,150.7967,82.80,78,15,15.21

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Kavieng,PG,2021-07-23 21:48:28,-2.5744,150.7967,82.80,78,15,15.21
9,9,Atuona,PF,2021-07-23 21:48:30,-9.8000,-139.0333,77.32,76,40,11.41
10,10,Gat,IL,2021-07-23 21:45:12,31.6100,34.7642,81.28,100,44,10.20
13,13,Fukue,JP,2021-07-23 21:48:30,32.6881,128.8419,79.74,79,100,12.26
15,15,Odweyne,SO,2021-07-23 21:48:31,9.4092,45.0640,75.07,50,99,12.77
18,18,Isangel,VU,2021-07-23 21:48:32,-19.5500,169.2667,77.11,94,40,0.00
19,19,Quincy,US,2021-07-23 21:45:04,42.2529,-71.0023,79.25,61,75,1.99
23,23,Preobrazheniye,RU,2021-07-23 21:48:33,42.9019,133.9064,77.14,88,29,4.76
25,25,Chapais,CA,2021-07-23 21:48:33,49.7834,-74.8492,78.58,30,70,5.70
27,27,Abeche,TD,2021-07-23 21:48:34,13.8292,20.8324,82.22,57,98,8.14

In [20]:
preferred_cities_df.count()

City_ID       199
City          199
Country       199
Date          199
Lat           199
Lng           199
Max Temp      199
Humidity      199
Cloudiness    199
Wind Speed    199
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
4          Kavieng      PG     82.80  -2.5744  150.7967
9           Atuona      PF     77.32  -9.8000 -139.0333
10             Gat      IL     81.28  31.6100   34.7642
13           Fukue      JP     79.74  32.6881  128.8419
15         Odweyne      SO     75.07   9.4092   45.0640
18         Isangel      VU     77.11 -19.5500  169.2667
19          Quincy      US     79.25  42.2529  -71.0023
23  Preobrazheniye      RU     77.14  42.9019  133.9064
25         Chapais      CA     78.58  49.7834  -74.8492
27          Abeche      TD     82.22  13.8292   20.8324

In [33]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [37]:

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not Found...skipping.")

Hotel not Found...skipping.
Hotel not Found...skipping.
Hotel not Found...skipping.
Hotel not Found...skipping.
Hotel not Found...skipping.
Hotel not Found...skipping.
Hotel not Found...skipping.
Hotel not Found...skipping.
Hotel not Found...skipping.
Hotel not Found...skipping.
Hotel not Found...skipping.

In [39]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Kavieng,PG,82.80,-2.5744,150.7967,Nusa Island Retreat
9,Atuona,PF,77.32,-9.8000,-139.0333,Villa Enata
10,Gat,IL,81.28,31.6100,34.7642,OlusHome
13,Fukue,JP,79.74,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental
15,Odweyne,SO,75.07,9.4092,45.0640,Eng Hiirey House
18,Isangel,VU,77.11,-19.5500,169.2667,Tanna Lodge
19,Quincy,US,79.25,42.2529,-71.0023,Brookside House
23,Preobrazheniye,RU,77.14,42.9019,133.9064,Campsite Orlan
25,Chapais,CA,78.58,49.7834,-74.8492,Hôtel Opémiska
27,Abeche,TD,82.22,13.8292,20.8324,Assaleh Hamdan Haroune

In [45]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]